html{
  scroll-behavior:smooth;
}

:root {
  --bg-dark: #020617;        
  --accent-cyan: #06b6d4;   
  --accent-blue: #3b82f6;    
  --card-bg: #0f172a;        
  --text-white: #f8fafc;
  --text-dim: #94a3b8;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-white);
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; 
}

section {
  scroll-margin-top: 50px; 
}

.btn-cyan {
  background: var(--accent-cyan);
  color: white;
  padding: 12px 30px;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  margin-right: 15px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(6, 182, 212, 0.4);
  transition: 0.3s;
}

.btn-cyan:hover {
  transform: translateY(-3px);
  filter: brightness(1.1);
}

.btn-outline {
  background: transparent;
  color: var(--accent-cyan);
  border: 2px solid var(--accent-cyan);
  padding: 10px 28px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}