.project-card {
  background: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%; 
  margin-top:1.8rem;
}


.project-card:hover {
  transform: translateY(-8px);
  border-color: var(--accent-cyan);
  background: rgba(15, 23, 42, 0.8);
  box-shadow: 0 10px 30px rgba(6, 182, 212, 0.15);
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-icon {
  font-size: 1.8rem;
}

.external-link a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-dim);
  transition: 0.3s;
}

.external-link a:hover {
  color: var(--accent-cyan);
}

.project-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 12px;
}

.project-desc {
  font-size: 0.95rem;
  color: var(--text-dim);
  line-height: 1.6;
  margin-bottom: 24px;
  flex-grow: 1; 
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech-tag {
  font-family: 'Fira Code', monospace; /* Tech look */
  font-size: 0.75rem;
  color: var(--accent-cyan);
  background: rgba(6, 182, 212, 0.1);
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid rgba(6, 182, 212, 0.2);
}